@use '../main.scss' as main;

.hamburgerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}

.hamburgerButton {
    cursor: pointer;
    background-color: main.$slate-900;
    color: main.$slate-50;
    border: none;
    transition: all 1s ease-in-out;
}
