@use '../main.scss' as main;

// Vars
$fadeInDelay: 0.1s;

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: auto;
}

.navbarMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    opacity: 0;
    background-color: main.$slate-900;
    transition: opacity $fadeInDelay ease-in;
}

.showNavBar {
    visibility: visible;
    opacity: 1;
}

.hideNavBar {
    visibility: hidden;
    transition: all $fadeInDelay ease-out;
}
